/* Top design */
body {
  background-color: #f0f0f0;
  padding-top: 20px;
  text-align: center;
}

header {
  background-color: #007bff;
  padding: 20px;
  color: #fff;
}

header h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

/* Hover effects */
a:hover {
  color: #ff4500;
}

li:hover {
  background-color: #f0f0f0;
}

/* Custom colors and backgrounds */
#contact h3,
#education h3,
#courses h3 {
  color: #ff4500;
}

section {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

.profile-pic {
  width: 50%;
  height: auto;
  max-width: 50%;
  max-height: 100%;
  border-radius: 50%;
  display: block;
}


/* Additional styling */
ul, ol {
  list-style-type: none;
  padding: 0;
}

ul li, ol li {
  margin-bottom: 10px;
}

h4 {
  margin-top: 10px;
}

h4:last-child {
  margin-bottom: 0;
}
